extends layout-table.pug
block table
	- var list = ["Main", "Ouv"]

	table(border="1")
		thead
			tr
				th(colspan=9)
					+table-title('Encheres a deux', "100-1")

			tr
				th(colspan=9) Ouverture
			tr
				- for (var i = 0; i < 4; ++i) {
					each value, index in list
						th=value
				- }

		tbody
		- for (var i = 0; i < 10; ++i) {
			tr(class=(i % 2 == 0) ? 'odd' : 'even')
				- for (var j = 0; j < 4; ++j) {
						td
							include selector_cards.pug
						td
							include select_colors.pug
				- }
		- }
