extends layout-table.pug
block table
	- var list = ["Ouv n°1", "Int n°2"]
	table(border="1")
		thead
			tr
				th(colspan=9)
					+table-title('Encheres competitives', "102")

			tr
				th(colspan=9) ...Intervention du numero 2...
			tr
				- for (var i = 0; i < 3; ++i) {
					each value, index in list
						th=value
					th(width=100)
				- }
			tr
				- for (var i = 0; i < 3; ++i) {
					th
					th
						include selector_cards.pug
					th
				- }

		tbody
		- for (var i = 0; i < 10; ++i) {
			tr(class=(i % 2 == 0) ? 'odd' : 'even')
				- for (var j = 0; j < 3; ++j) {
						td
							include select_colors.pug
						td
							include select_colors.pug
						td
				- }
		- }
