extends layout-table.pug
block table
	- var list = ["Ouverture", "A1", "A2", "A3", "A4"]
	table(border="1")
		thead
			tr
				th(colspan=6)
					+table-title("Encheres a deux", "200-1"	)

			tr
				th(colspan=6) Reponses aux ouvertures de ...
			tr
				each value, index in list
					th=value
				th(width=300)

		tbody
		- for (var i = 0; i < 10; ++i) {
			tr(class=(i % 2 == 0) ? 'odd' : 'even')
				each value, index in list
					td
						include select_colors.pug
				td
		- }
