extends layout-table.pug
block table
	- var list = ["Ouverture", "A1", "A2", "A3", "A4"]
	table(border="1")
		thead
			tr
				th(colspan=6)
					+table-title("Encheres a deux", "201"	)

			tr
				th(colspan=6) Reponses aux ouvertures de ...
					include selector_letter.pug
			tr

				th Ouverture
				th.one A1
				th.two  A2
				th.three A3
				th.four A4
				th(width=300)

		tbody
		- for (var i = 0; i < 10; ++i) {
			tr(class=(i % 2 == 0) ? 'odd' : 'even')
				each value, index in list
					td
						include select_colors.pug
				td
		- }
