extends layout-table.pug
block table
	- var list = ["---", "Rep ", "Red", "Re-Rép", "Re-Red"	]
	table(border="1")
		thead
			tr
				th(colspan=6)
					+table-title('Encheres a deux', "202")
			tr
				th(colspan=2) Réponse à l ouverture de -->
				th
					include select_colors.pug
				th(colspan=2) et developpements Main:
				th
					include selector_cards.pug
			tr
					each value, index in list
						th=value
					th(width=300)

		tbody

		- for (var i = 0; i < 10; ++i) {

			tr(class=(i % 2 == 0) ? 'odd' : 'even')
				td
					include selector_cards.pug
				- for (var j = 0; j < 4; ++j) {
					td
						include select_colors.pug
				- }
				td
		- }
