extends layout-table.pug
block table
	- var list = ["Ouv n°1", "Int n°2", "Rép n°3"	]
	table(border="1")
		thead
			tr
				th(colspan=5)
					+table-title('Encheres competitives', "401")

			tr
				th(colspan=5) Réponses à l'ouverture du partenaire (n°1) après interventions du n°2
			tr
					each value, index in list
						th=value
					th(width=300)

		tbody
			td(rowspan=11)
				include select_colors.pug
			- for (var i = 0; i < 10; ++i) {

				tr(class=(i % 2 == 0) ? 'odd' : 'even')
					td
						include select_colors.pug
					td
						include select_colors.pug
					td
			- }
			tr
				td
				td
				td
					include selector_cards.pug
				td
