extends layout.pug

block content
	.container
		.row
			.col-md-8.col-md-offset-2
				p
				p.lead Bonjour.Permettez-moi de me présenter et de vous raconter brièvement l'origine de Bridge Symphony.Je pratique depuis longues années l'enseignement des mathématiques au sein d'une petite structure de type « Soins-Etudes ».  Les niveaux, de la quatrième à la terminale, regroupent des effectifs restreints ( 2 à 7 élèves, rarement plus ). Cela, tout en favorisant la relation éducative, permet de proposer une méthode d'enseignement où le dialogue est encouragé, une pédagogie donc plus « interactive » qui veut :

				p tenir compte au mieux des possibilités du rythme de chacun
				p susciter les questions
				p faciliter la communication

				p.lead Voilà d'ailleurs deux points parmi d'autres qui ont une grande importance dans l'apprentissage du bridge. J'ai pu découvrir ce jeu / discipline / sport à l'adolescence. Je l'ai pratiqué assidûment que bien plus tard... puis je me suis mis en mode « pause » après six sept années de compétitions et autres tournois. Mais mon goût et mon intérêt pour lui sont restés entiers, ainsi l'idée m'est venue de réfléchir sur la création d'un support visuel d'un usage pratique et instantané qui permette de choisir et d'exposer facilement des situations de bridge.

				p.lead Bridge Symphony vous plonge de suite dans le vif du sujet pour 

				p.lead Faire découvrir ce nouveau monde à un interlocuteur curieux...? Pas simple ! Alors montrons une main grâce à une carte, une donne avec les quatre, simulons une table...

				p Pouvoir accompagner l'apprentissage en présentant ou en comparant telle et telle mains.

				p Illustrer les avantages du choix d'une option ou d'un sous-système.

				p Visualiser d'un coup votre jeu complet sans avoir à le « dicter »( ,,,surtout par tél ).

				p cf « home » pour des informations supplémentaires et un descriptif mieux détaillé.
