extends layout.pug

block append head
	title= "Bridge Symphony - About"
	meta(name="description",content="Presentation des créateurs de Bridge Symphony le support didactique pour l enseignement et l'apprentissage  du bridge")

block content
	div(id="container" class="backgroundcontainer")
		div(id="output" class="backgroundcontainer")
	div(id="controls" style="display: none;" class="controls")
	.container
		.row
			.col-md-8.col-md-offset-2
				p
				p.lead Permettez-moi de me présenter et de vous raconter brièvement l'origine de Bridge Symphony. Je pratique depuis de longues années l'enseignement des mathématiques au sein d'une  structure de type « Soins-Etudes » favorisant la relation éducative. Cela me permet de proposer une méthode d'enseignement où le dialogue est encouragé, une pédagogie donc plus « interactive » qui veut entre autres susciter les questions et faciliter la communication.

				p.lead Ces deux points sont justement d'une grande importance dans l'apprentissage du bridge. J'ai pu découvrir ce jeu, cette discipline, ce sport, à l'adolescence et ne l'ai pratiqué assidûment que bien plus tard (compétitions et autres tournois). Ma passion pour le bridge m'a incité à réfléchir sur la création d'un support visuel d'un usage pratique et instantané qui permet de choisir et d'exposer facilement des situations de jeu.

				p.lead Bridge Symphony vous plonge de suite dans le vif du sujet. Faire découvrir ce nouveau monde à un interlocuteur curieux? Montrons une main grâce à une carte, une donne avec les quatre, simulons une table... Pouvoir accompagner l'apprentissage en présentant ou en comparant telle et telle main. Illustrer les avantages du choix d'une option ou d'un sous-système. Visualiser d'un coup votre jeu complet sans avoir à le dicter.

				p.lead Le bridge a quatre couleurs: rouge et noir, en mode mineur majeur, plus une cinquieme...
				p A vous...

block append scripts
	script(src='js/triangles-about-min.js')
