mixin centde
	centde.centde
	.conteneurun(style="")
			.conteneurtitre1(style="")
				.logo
					img.img-thumbnail(src="images/logo.png" style="" alt="A g instant camera")
				h3(style="") ENCHERES COMPETITIVES
				.conteneurnum1(style="") grille n° 102
			.conteneurintit1(style="")
				h5(style="")
					span(style="") ... Intervention du n°2 ...
			.conteneurtab1(style="")
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td OUV n°1
								td INT n°2
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 ---
								td(style="")
									.divTableCellCent
										.losange
											h6 C1
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/trefle.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												img(src="http://bridge-symphony/img/croix.jpg" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/carreau.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												img(src="http://bridge-symphony/img/croix.jpg" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 PASSE
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												img(src="http://bridge-symphony/img/croix.jpg" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6  1 SA
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 PASSE
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 PASSE
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 PASSE
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 ...
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
				// ------------------------------------tableau 2--------------------------------------------------------
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td OUV n°1
								td INT n°2
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 ---
								td(style="")
									.divTableCellCent
										.losange
											h6 C4
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/trefle.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/carreau.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 PASSE
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6  1 SA
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6  PASSE
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 3
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
				// ------------------------fin tab----------------------------
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td OUV n°1
								td INT n°2
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 ---
								td(style="")
									.divTableCellCent
										.losange
											h6
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/trefle.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// <img class="" src="http://bridge-symphony/img/croix.jpg" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/carreau.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6  1 SA
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
				// ------------------------------------tableau 2--------------------------------------------------------
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td OUV n°1
								td INT n°2
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 ---
								td(style="")
									.divTableCellCent
										.losange
											h6
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/trefle.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// <img class="" src="http://bridge-symphony/img/croix.jpg" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/carreau.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6  1 SA
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
				// ------------------------fin tab----------------------------
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td OUV n°1
								td INT n°2
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 ---
								td(style="")
									.divTableCellCent
										.losange
											h6
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/trefle.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// <img class="" src="http://bridge-symphony/img/croix.jpg" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/carreau.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6  1 SA
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
				// ------------------------fin tab----------------------------
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td OUV n°1
								td INT n°2
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6 ---
								td(style="")
									.divTableCellCent
										.losange
											h6
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/trefle.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// <img class="" src="http://bridge-symphony/img/croix.jpg" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/carreau.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6  1 SA
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/coeur.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="http://bridge-symphony/img/pic.png" alt="A g instant camera")
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="http://bridge-symphony/img/coeur.png" alt="A g instant camera" />
				// ------------------------fin tab----------------------------
			.fter.text-center
				small
					a.btn.btn.btn-primary(target="_blank" href="/pdf/102.pdf" role="button") Editer PDF
					a.btn.btn.btn-primary(target="_blank" href="/102" role="button") BS Online
