mixin centun
	centun.centun
	.conteneurun(style="")
			.conteneurtitre1(style="")
				.logo
					img.img-thumbnail(src="images/logo.png" style="" alt="A g instant camera")
				h3(style="") ENCHERES A DEUX
				.conteneurnum1(style="") grille n° 101
			.conteneurintit1(style="")
				h5(style="")
					span(style="") L'ouverture
			.conteneurtab1(style="")
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td MAIN
								td OUV
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 A1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/pic.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 A3
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/trefle.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 A4
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="images/couleurs/coeur.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 B1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/carreau.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 B2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/trefle.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 C1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/carreau.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 C3
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/carreau.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 C4
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/carreau.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 D1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
											|             (1 SA) ?
				// ------------------------------------tableau 2--------------------------------------------------------
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td MAIN
								td OUV
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 D2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/trefle.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 D3
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 2
												img(src="images/couleurs/pic.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 E1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/trefle.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 E2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/coeur.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 F1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/carreau.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 F2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/trefle.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 F3
								td(style="")
									.divTableCellCent
										span.hauteur
											h6  1 SA
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 G2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/coeur.png" alt="A g instant camera")
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 G3
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												| 1
												img(src="images/couleurs/carreau.png" alt="A g instant camera")
				// ------------------------fin tab----------------------------
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td MAIN
								td OUV
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 H1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 H2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 I1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 I2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 J1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 K1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 K2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 L1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 L2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
				// ------------------------------------tableau 2--------------------------------------------------------
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td MAIN
								td OUV
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 L3
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 M1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 N1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 N2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 O1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 O2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 O3
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 P1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 P2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
				// ------------------------fin tab----------------------------
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td MAIN
								td OUV
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 Q2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 Q3
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 R2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 R3
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 S1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 S2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 S4
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 T1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 U1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
				// ------------------------fin tab----------------------------
				.divTable.dtc(style="")
					table(style="")
						tbody
							tr.tdcent
								td MAIN
								td OUV
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 U2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 V1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 V3
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 W1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 X1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 Y1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 Z1
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 Z2
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
							tr.tdcent
								td(style="")
									.divTableCellCent
										.losange
											h6 Z4
								td(style="")
									.divTableCellCent
										span.hauteur
											h6
												// 1 <img class="" src="images/couleurs/coeur.png" alt="A g instant camera" />
				// ------------------------fin tab----------------------------
			.fter.text-center
				small
					a.btn.btn.btn-primary(target="_blank" href="/pdf/101.pdf" role="button") Editer PDF
					a.btn.btn.btn-primary(target="_blank" href="/101" role="button") BS Online
