mixin decentde
	decentde.decentde
	.conteneurun(style="")
			.conteneurtitre1(style="")
				.logo
					img.img-thumbnail(src="images/logo.png" style="" alt="A g instant camera")
				h3(style="") ENCHERES A DEUX
				.conteneurnum1(style="") grille n° 202
			.conteneurintit1(style="")
				span(style="float:left;")
					.intit1(style="")
						i Réponses à l'ouverture de →
					.intit2.warn(style="")
						div(style="border:solid 1px;padding:;background:white;color:black;width:60px;height:33px;float:left;")
							| 1
							img.thumbnail(src="images/couleurs/coeur.png" alt="A g instant camera" style="")
						|  et développements MAIN :
					.intit4(style="")
						.hexa(style="float:right;")
							h6 E2
			.conteneurtab2(style="")
				.divTable(style="")
					table.steelBlueCols
						thead
							tr
								th(style="width: 15%;height:50px;")
									h5 ---
								th.succ(style="width: 15%;height:50px;")
									h5 Rép
								th.warn(style="width: 15%;height:50px;")
									h5 Red
								th.succ(style="width: 15%;height:50px;")
									h5 Re-Rép
								th.warn(style="width: 15%;height:50px;")
									h5 Re-Red
								th(style="width: 25%;height:50px;")
									h5 Commentaires
						tbody
							tr
								td
									.hexa
										h6 A2
								td.succ
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td.warn
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
								td.succ
									span.hauteur
										i
											// (1)
										h6  PASSE
								td.warn
									span.hauteur
										i
											// (1)
										h6
								td
									// Commentaires Commentaires
							tr
								td
									.hexa
										h6 A4
								td.succ
									span.hauteur
										i
											// (1)
										h6
											| 4
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
								td.warn
									span.hauteur
										i
											// (1)
										h6  PASSE
								td.succ
									span.hauteur
										i
											// (1)
										h6
								td.warn
									span.hauteur
										i
											// (1)
										h6
								td
									// Commentaires Commentaires
							tr
								td
									.hexa
										h6 B1
								td.succ
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td.warn
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
								td.succ
									span.hauteur
										i
											// (1)
										h6  2 SA
								td.warn
									span.hauteur
										i
											// (1)
										h6 ?
								td
									// Commentaires Commentaires
							tr
								td
									.hexa
										h6 B2
								td.succ
									span.hauteur
										i
											// (1)
										h6  3 SA
								td.warn
									span.hauteur
										i
											// (1)
										h6
											| 4
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
								td.succ
									span.hauteur
										i
											// (1)
										h6  PASSE
								td.warn
									span.hauteur
										i
											// (1)
										h6
								td
									// Commentaires Commentaires
							tr
								td
									.hexa
										h6 G4
								td.succ
									span.hauteur
										i
											// (1)
										h6
											| 3
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
								td.warn
									span.hauteur
										i
											// (1)
										h6  PASSE
								td.succ
									span.hauteur
										i
											// (1)
										h6
								td.warn
									span.hauteur
										i
											// (1)
										h6
								td
									// Commentaires Commentaires
							tr
								td
									.hexa
										h6 H3
								td.succ
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td.warn
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
								td.succ
									span.hauteur
										i
											// (1)
										h6 2 SA
								td.warn
									span.hauteur
										i
											// (1)
										h6 PASSE
								td
									// Commentaires Commentaires
							tr
								td
									.hexa
										h6 I2
								td.succ
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td.warn
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
								td.succ
									span.hauteur
										i
											// (1)
										h6 3 SA
								td.warn
									span.hauteur
										i
											// (1)
										h6 PASSE
								td
									// Commentaires Commentaires
							tr
								td
									.hexa
										h6 J3
								td.succ
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
								td.warn
									span.hauteur
										i
											// (1)
										h6 PASSE
								td.succ
									span.hauteur
										i
											// (1)
										h6
								td.warn
									span.hauteur
										i
											// (1)
										h6
								td
									// Commentaires Commentaires
							tr
								td
									.hexa
										h6
								td.succ
								td.warn
								td.succ
								td.warn
								td
							tr
								td
									.hexa
										h6
								td.succ
								td.warn
								td.succ
								td.warn
								td
			.fter.text-center
				small
					a.btn.btn.btn-primary(target="_blank" href="/pdf/202.pdf" role="button") Editer PDF
					a.btn.btn.btn-primary(target="_blank" href="/202" role="button") BS Online
