mixin decentun
	decentun.decentun
	.conteneurun(style="")
			.conteneurtitre1(style="")
				.logo
					img.img-thumbnail(src="images/logo.png" style="" alt="A g instant camera")
				h3(style="") ENCHERES A DEUX
				.conteneurnum1(style="") grille n° 201
			.conteneurintit1(style="")
				span(style="") Réponses aux ouvertures de ...
			.conteneurtab2(style="")
				.divTable(style="")
					table.steelBlueCols
						thead
							tr
								th.alert-warning(style="width: 15%;height:50px;")
									h3 Ouv
								th(style="width: 15%;height:50px;")
									.hexa
										h6 K1
								th(style="width: 15%;height:50px;")
									.hexa
										h6 K2
								th(style="width: 15%;height:50px;")
									.hexa
										h6 K3
								th(style="width: 15%;height:50px;")
									.hexa
										h6 K4
								th(style="width: 25%;height:50px;") Commentaires
						tbody
							tr
								td.alert-warning
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6  3 SA
								td
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/carreau.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6  PASSE
								td
									// Commentaires Commentaires
							tr
								td.alert-warning
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/carreau.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6  3 SA
								td
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6  PASSE
								td
									// Commentaires Commentaires
							tr
								td.alert-warning
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6  3 SA
								td
									span.hauteur
										i
											// (1)
										h6
											| 3
											img(src="images/couleurs/carreau.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 3
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
								td
									// Commentaires Commentaires
							tr
								td.alert-warning
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 3
											img(src="images/couleurs/carreau.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 4
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6  PASSE
								td
									// Commentaires Commentaires
							tr
								td.alert-warning
									span.hauteur
										i
											// (1)
										h6 1 SA
								td
									span.hauteur
										i
											// (1)
										h6  3 SA
								td
									span.hauteur
										i
											// (1)
										h6
											| 3
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6  PASSE
								td
									// Commentaires Commentaires
							tr
								td.alert-warning
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 3
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6  2 SA
								td
									span.hauteur
										i
											// (1)
										h6  PASSE
								td
									span.hauteur
										i
											// (1)
										h6  PASSE
								td
									// Commentaires Commentaires
							tr
								td.alert-warning
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 4
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td
									span.hauteur
										i (1)
										h6  2 SA
								td
									span.hauteur
										i
											// (1)
										h6  PASSE
								td
									span.hauteur
										i
											// (1)
										h6  PASSE
								td
									// Commentaires Commentaires
							tr
								td.alert-warning
									span.hauteur
										i
											// (1)
										h6 2 SA
								td
									span.hauteur
										i
											// (1)
										h6 4 SA
								td
									span.hauteur
										i
											// (1)
										h6
											| 4
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 3
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6  PASSE
								td
									// Commentaires Commentaires
							tr
								td.alert-warning
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/carreau.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 3
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6
											| 3
											img(src="images/couleurs/pic.png" alt="A g instant camera")
								td
									span.hauteur
										i
											// (1)
										h6 2 SA
								td
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
								td
									// Commentaires Commentaires
							tr
								td.alert-warning
									span.hauteur
										i
											// (1)
										h6
								td
								td
								td
								td
								td
							tr
								td.alert-warning
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/trefle.png" alt="A g instant camera" />
								td
								td
								td
								td
								td
			.fter.text-center
				small
					a.btn.btn.btn-primary(target="_blank" href="/pdf/201.pdf" role="button") Editer PDF
					a.btn.btn.btn-primary(target="_blank" href="/201" role="button") BS Online
