mixin footer
	footer.footer
		.container

			<ul class="list-inline banner-social-buttons">
				<li><a href="https://twitter.com/BridgeSymphony" rel="noopener noreferrer" target="_blank">
					<img border="0" alt="twitter" src="../images/twitter.png" width="26" height="26">
				</a></li>
				<li>Bridge Symphony © Herve Zimmermann / Manuel Wegria</li>
				<li><a href="https://www.facebook.com/BridgeSymphony/" rel="noopener noreferrer" target="_blank">
					<img border="0" alt="facebook" src="../images/facebook.png" width="25" height="25">
				</a></li>
			</ul>
