mixin navbar-fixed-mod(name,image,id,style,href)
  - var style = (typeof style === 'undefined') ? "default" : style
  nav( role="navigation", class=["navbar","navbar-fixed-top","navbar-" + style] )
    .container
      if lang=='1'
        //-
          .navbar-header.pull-right
            <form class="langform " method="get">
              <select name="lang" class="selectpicker" data-width="fit" onchange="this.form.submit()">
                <option selected value="1" data-content='<span class="flag-icon flag-icon-fr"></span>'></option>
                <option value="2" data-content='<span class="flag-icon flag-icon-us"></span>'></option>
              </select>
            </form>

        .navbar-header.pull-right.buy
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="8A98CBMDKBPCU">
            <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
            <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
          </form>

      if lang=='2'
        //-
          .navbar-header.pull-right
            <form class="langform " method="get">
              <select name="lang" class="selectpicker" data-width="fit" onchange="this.form.submit()">
                <option value="1" data-content='<span class="flag-icon flag-icon-fr"></span>'></option>
                <option selected value="2" data-content='<span class="flag-icon flag-icon-us"></span>'></option>
              </select>
            </form>
        .navbar-header.pull-right.buy
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="MP2P2NQZMGPRN">
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
          </form>


      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#' + id, aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        <a class="navbar-brand" href="http://www.bridgesymphony.com"><img src="images/logo.png" alt="Bridge Symphony">


      .collapse.navbar-collapse( id=id )
        ul.nav.navbar-nav
          block




mixin header
  +navbar-fixed-mod("Bridge Symphony","images/logo.png","navbar")

    if lang=='1'
      if active=='home'
        +nav_item("/","active") Accueil
        +nav_item("About") A Propos
        +nav_item("Contact") Contact
        +nav_item("Infos") Informations
        +nav_item("Tuto") Tuto
        +nav_item("Plan") Plans de Jeux

      else if active  =='about'
        +nav_item("/") Accueil
        +nav_item("About","active") A Propos
        +nav_item("Contact") Contact
        +nav_item("Infos") Informations
        +nav_item("Tuto") Tuto
        +nav_item("Plan") Plans de Jeux

      else if active=='contact'
        +nav_item("/") Accueil
        +nav_item("About") A Propos
        +nav_item("Contact","active") Contact
        +nav_item("Infos") Informations
        +nav_item("Tuto") Tuto
        +nav_item("Plan") Plans de Jeux

      else if active  =='infos'
        +nav_item("/") Accueil
        +nav_item("About") A Propos
        +nav_item("Contact") Contact
        +nav_item("Infos","active") Informations
        +nav_item("Tuto") Tuto
        +nav_item("Plan") Plans de Jeux

      else if active  =='tuto'
        +nav_item("/") Home
        +nav_item("About") About
        +nav_item("Contact") Contact
        +nav_item("Infos") Informations
        +nav_item("Tuto","active") Tuto
        +nav_item("Plan") Plans de Jeux

      else if active  =='plan'
        +nav_item("/") Home
        +nav_item("About") About
        +nav_item("Contact") Contact
        +nav_item("Infos") Informations
        +nav_item("Tuto") Tuto
        +nav_item("Plan","active") Plans de Jeux

    else if lang=='2'
      if active=='home'
        +nav_item("/","active") Home
        +nav_item("About") About
        +nav_item("Contact") Contact
        +nav_item("Infos") Informations
        +nav_item("Tuto") Tuto
        +nav_item("Plan") Plans de Jeux

      else if active  =='about'
        +nav_item("/") Home
        +nav_item("About","active") About
        +nav_item("Contact") Contact
        +nav_item("Infos") Informations
        +nav_item("Tuto") Tuto
        +nav_item("Plan") Plans de Jeux

      else if active=='contact'
        +nav_item("/") Home
        +nav_item("About") About
        +nav_item("Contact","active") Contact
        +nav_item("Infos") Informations
        +nav_item("Tuto") Tuto
        +nav_item("Plan") Plans de Jeux

      else if active  =='infos'
        +nav_item("/") Home
        +nav_item("About") About
        +nav_item("Contact") Contact
        +nav_item("Infos","active") Informations
        +nav_item("Tuto") Tuto
        +nav_item("Plan") Plans de Jeux

      else if active  =='tuto'
        +nav_item("/") Home
        +nav_item("About") About
        +nav_item("Contact") Contact
        +nav_item("Infos") Informations
        +nav_item("Tuto","active") Tuto
        +nav_item("Plan") Plans de Jeux

      else if active  =='plan'
        +nav_item("/") Home
        +nav_item("About") About
        +nav_item("Contact") Contact
        +nav_item("Infos") Informations
        +nav_item("Tuto") Tuto
        +nav_item("Plan","active") Plans de Jeux
