extends layout.pug

block content
	div(id="container" class="backgroundcontainer")
		div(id="output" class="backgroundcontainer")
	div(id="controls" style="display: none;" class="controls")
	.container
		.row
			.col-md-8.col-md-offset-2
				div.down
					h3 Outre la possibilité de commander en ligne vous pouvez:
					h3.tab Vous procurer Bridge Symphony chez nos dépositaires:
					h4.tab2 TABAC PRESSE LOTO PEREIRA - LIMA : 3, Bld Pierre 1er 33110 LE BOUSCAT Tél./fax 0556085580
					h4.tab2 LA CAVE DU TRIANGLE : rue Huguerie 33000 BORDEAUX Tél 0661093152

					h3.tab Nous joindre directement via notre page contact ou téléphoner à Herve Zimmermann au 0642989578

block append scripts
	script(src='js/triangles-order.js')
