extends layout.pug

block content
	.container
		.row
			.col-md-8.col-md-offset-2
				h3 En attendant la possibilité de commander en ligne vous pouvez nous envoyer un mail via notre page contact ou directement joindre Herve Zimmermann au 0642989578
