span.noprint
	<select data-width="50" , style="display: inline-block; font-size:40px">
		<option value="0"></option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
	</select>

span.noprint
	<select class="color" data-width="70" style="display: inline-block; font-size:40px">
		<option value="black" style="color: black" class="blackText"></option>
		<option value="red" style="color: red" class="redText">&hearts;</option>
		<option value="black" style="color: black" class="blackText">&spades;</option>style="color:red"
		<option value="red" style="color: red" class="redText">&diams;</option>
		<option value="black" style="color: black" class="blackText">&clubs;</option>
		<option value="black" style="color: black" class="blackText">SA</option>
		<option value="black" style="color: black" class="blackText" >PA</option>
		<option value="black" style="color: black" class="blackText" >X</option>
	</select>
