<select data-width="50" , style="display: inline-block; font-size:40px">
  <option value="0"></option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
</select>

<select  data-width="70" 	, style="display: inline-block; color:red; font-size:40px">
  <option value="", style="color:red"></option>
  <option value="Coeur", style="color:red"> &hearts;</option>
  <option value="Pique" style="color:black">&spades;</option>style="color:red"
  <option value="Carreau" style="color:red">&diams;</option>
  <option value="Treffle" style="color:black">&clubs;</option>
  <option value="SA" style="color:black">SA</option>
  <option value="Passe" style="color:black">PA</option>
  <option value="Contre" style="color:black">X</option>
</select>
