mixin troiscentun
	troiscentun.troiscentun
	.conteneurun(style="")
			.conteneurtitre1(style="")
				.logo
					img.img-thumbnail(src="images/logo.png" style="" alt="A g instant camera")
				h3(style="") ENCHERES COMPETITIVES
				.conteneurnum1(style="") grille n° 301
			.conteneurintit1(style="")
				h5(style="")
					span(style="") Réponse (n°4) à l'intervention du partenaire (n°2)
			.divTable.tdtr(style="")
				table(style="")
					tbody
						tr(style="height: 51px;border:solid 1px;")
							td(style="width: 15%; height: 51px;border:solid 1px;") OUV (n°1)
							td.succ.text-black(style="width: 15%; height: 51px;border:solid 1px;") INT (n°2)
							td(style="width: 15%; height: 51px;border:solid 1px;") n°3
							td.succ.text-black(style="width: 15%; height: 51px;border:solid 1px;") Rép (n°4)
							td(style="width: 25%; height: 51px;border:solid 1px;") Commentaires
						tr.tdtcent
							td(rowspan="8" style="")
								.divTableCellTroisCent
									span.carteVerti
										i
											// (1)
										h6(style="font-size:50px;border:solid 1px;")
											| 1
											img(src="images/couleurs/coeur.png" alt="A g instant camera" width="50" height="100")
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1
											img(src="images/couleurs/croix.jpg" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
											| -
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/pic.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.comment
										i
											// (1)- comment commentcomment comment commentcomment
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/pic.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
											| -
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i (3)
										h6
											| 3
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.comment
										i (3)- propositionnel de manche
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
											| -
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.comment
										i
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/carreau.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
											| -
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											| 2
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.comment
										i
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6 1 SA
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
											| -
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i (2)
										h6
											| 2
											img(src="images/couleurs/carreau.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.comment
										i
											p
												| (2)- Texas imposs -> 4 cartes à
												img.ptt(src="images/couleurs/pic.png" alt="A g instant camera" width="10" height="10")
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i (1)
										h6
											| 2
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
											| -
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											| 4
											img(src="images/couleurs/pic.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.comment
										i
											| (1)- Bic
											img(src="images/couleurs/trefle.png" alt="A g instant camera" width="10" height="10")
											|  -
											img(src="images/couleurs/pic.png" alt="A g instant camera" width="10" height="10")
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i (4)
										h6
											| 3
											img(src="images/couleurs/trefle.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
											| -
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											| 4
											img(src="images/couleurs/pic.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.comment
										i
											| (4)- Bic
											img(src="images/couleurs/carreau.png" alt="A g instant camera" width="10" height="10")
											|  -
											img(src="images/couleurs/pic.png" alt="A g instant camera" width="10" height="10")
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
											| ...
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
											| ...
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
											| ...
							td
								.divTableCellTroisCent
									span.comment
										i
						tr(style="height: 43px;border:solid 1px;")
							td(colspan="3" style="width: 53px; height: 43px;border:;")
								p
									i
										| (2 bis)...2
										img(src="images/couleurs/trefle.png" alt="A g instant camera" width="10" height="10")
										|  = Texas
										img(src="images/couleurs/carreau.png" alt="A g instant camera" width="10" height="10")
										|  ,
										|         2
										img(src="images/couleurs/pic.png" alt="A g instant camera" width="10" height="10")
										|  Texas
										img(src="images/couleurs/trefle.png" alt="A g instant camera" width="10" height="10")
										| ,
										|         2
										img(src="images/couleurs/coeur.png" alt="A g instant camera" width="10" height="10")
										|  Texas
										img(src="images/couleurs/pic.png" alt="A g instant camera" width="10" height="10")
							td.tcc.succ.text-black(style="width: 188px; height: 43px;border:solid 1px;")
								.losange
									h6 H3
							td(style="width: 160px; height: 100px;border:;")  
			// ------------------------------------tableau 2--------------------------------------------------------
			.divTable.tdtr(style="")
				table(style="")
					tbody
						tr(style="height: 51px;border:solid 1px;")
							td(style="width: 15%; height: 51px;border:solid 1px;") OUV (n°1)
							td.succ.text-black(style="width: 15%; height: 51px;border:solid 1px;") INT (n°2)
							td(style="width: 15%; height: 51px;border:solid 1px;") n°3
							td.succ.text-black(style="width: 15%; height: 51px;border:solid 1px;") Rép (n°4)
							td(style="width: 25%; height: 51px;border:solid 1px;") Commentaires
						tr.tdtcent
							td(rowspan="8" style="")
								.divTableCellTroisCent
									span.carteVerti
										i
											// (1)
										h6(style="font-size:50px;border:solid 1px;")
											| 1
											img(src="images/couleurs/TREFLE.png" alt="A g instant camera" width="50" height="100")
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											img(src="images/couleurs/croix.jpg" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
							td
								.divTableCellTroisCent
									span.comment
										i
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/carreau.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
							td
								.divTableCellTroisCent
									span.comment
										i
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/coeur.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
											| -
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i (3)
										h6
											| 3
											img(src="images/couleurs/carreau.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.comment
										i
											| (3)- "rencontre" -> 5
											img(src="images/couleurs/carreau.png" alt="A g instant camera" width="10" height="10")
											|  et Fit 4 ième
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											| 1
											img(src="images/couleurs/pic.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
							td
								.divTableCellTroisCent
									span.comment
										i
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6 1 SA
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
							td
								.divTableCellTroisCent
									span.comment
										i
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i (1)
										h6
											| 2
											img(src="images/couleurs/carreau.png" alt="A g instant camera")
							td
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i
											// (1)
										h6
											// 1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" />
							td
								.divTableCellTroisCent
									span.comment
										i (1)- Bic MAJ
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										i (2)
										h6 2 SA
							td
								.divTableCellTroisCent
									span.hauteur
										// <I>(1)</I><h6>1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" /></h6></span>
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										// <I>(1)</I><h6>1 <img class="" src="images/couleurs/trefle.png" alt="A g instant camera" /></h6></span>
							td
								.divTableCellTroisCent
									span.comment
										i
											| (2)- Bic
											img(src="images/couleurs/carreau.png" alt="A g instant camera" width="10" height="10")
											|  -
											img(src="images/couleurs/coeur.png" alt="A g instant camera" width="10" height="10")
						tr.tdtcent
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										// <I>(1)</I><h6>1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" /></h6></span>
							td
								.divTableCellTroisCent
									span.hauteur
										// <I>(1)</I><h6>1 <img class="" src="images/couleurs/carreau.png" alt="A g instant camera" /></h6></span>
							td.succ.text-black
								.divTableCellTroisCent
									span.hauteur
										// <I>(1)</I><h6>1 <img class="" src="images/couleurs/trefle.png" alt="A g instant camera" /></h6></span>
							td
								.divTableCellTroisCent
									span.comment
										i
											// (1)- comment commentcomment comment commentcomment
						tr(style="height: 43px;border:solid 1px;")
							td(colspan="3" style="width: 53px; height: 43px;border:;")  
							td.tcc.succ.text-black(style="width: 188px; height: 43px;border:solid 1px;")
								.losange
									h6 Y4
							td(style="width: 160px; height: 100px;border:;")  
				// ------------------------fin DIV tab----------------------------
			.fter.text-center
				small
					a.btn.btn.btn-primary(target="_blank" href="/pdf/301.pdf" role="button") Editer PDF
					a.btn.btn.btn-primary(target="_blank" href="/301" role="button") BS Online
