extends layout.pug

block append head
	title= "Bridge Symphony - Contact"
	meta(name="description",content="Contactez Bridge Symphony le support didactique pour l enseignement du bridge et l'outil de progression innovant pour bridgeurs de tous niveaux")

block content
	div(id="container" class="backgroundcontainer")
		div(id="output" class="backgroundcontainer")
	div(id="controls" style="display: none;" class="controls")

	.container
		.row
			.col-md-8.col-md-offset-2
			

block append scripts
	script(src='js/triangles-contact-min.js')
