extends layout.pug

block append head
	title= "Bridge Symphony - Tuto"
	meta(name="description" content="Contactez Bridge Symphony le support didactique pour l enseignement du bridge et l'outil de progression innovant pour bridgeurs de tous niveaux")
	style.
		@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Diplomata|Fascinate+Inline|Niconne');

	block append style
		<link rel="stylesheet" href="css/bridgeskt.css">

block content
	mixin table-title(name,numbr)
		div(class="entete")
			span(class="log") <img src="images/logo.png"/>
			span(class="ttle")= name
			span(class="numb")= numbr

	div(id="container" class="backgroundcontainer")
		div(id="output" class="backgroundcontainer")
	div(id="controls" style="display: none;" class="controls")

	.container
			.col-md-12
				.page(style='text-align:center;background:;color:black;')
				.logo-tete <img src="images/logo.png"/>
				.logo-tete
					h3 BS TUTO
				.container
					.caption
						<!--<img src="images/3p.png"/>-->
						br
						br
						<!--<img src="images/3b.png"/>-->
							i(style='text-decoration:none;font-size: 14pt;') C'est bien joli mais comment peut-on s'en servir... ? Petit guide de l'utilisateur
					br
					br

					.menu

						ul.list-group.text-center.level-1
							li.mlist
							p
								| Les multiples usages et déclinaisons que propose BS aux enseignants, joueurs de tout niveau ou débutants ne sauraient se décrire dans un « mode d'emploi » précis ou exhaustif.
							p
								| Pour le partisan d'une pédagogie active que je suis il s’avère cependant souhaitable de vous proposer ici des pistes d'investigation au moyen de grilles de travail disponibles sous differents formats ainsi qu'un fichier pdf explicatif.

							br
							a.btn.btn-success(target='blank', href='/pdf/guide.pdf', role='button') Petit Guide Utilisateur
							br
							br
							i(style='color:;text-decoration:none;font-size: 9pt;text-align:left;background:;padding:3px;') * Les grilles illustrées se basent sur le SEF commenté et argumenté de Messieurs Bessis Quentin Cronier édition Le Bridgeur 2016/2017 T3 à paraître.
								br
							i(style='color:;text-decoration:none;font-size: 9pt;text-align:left;background:;padding:3px;') BS n'est pas une méthode (rappel), mais un moyen de conduire celle qui vous sied.
								br
								br
								h4 Les PDF
									.page
										.margin
											a(target='_blank',href='/pdf/grilles_thematiques_2.pdf') Grilles Thematiques : Encheres a deux
											br
											a(target='_blank',href='/pdf/grilles_thematiques_comp.pdf') Grilles Thematiques : Encheres competitives
											br
											a(target='_blank',href='/pdf/grilles_vierges.pdf') Grilles Vierges
											br


								h4 BS Online (éditables)
									.page
										.margin
											h6  a) ENCHERES A DEUX
											a(target='_blank',href='/101') Grille thematique 101 : l'ouverture
											br
											a(target='_blank',href='/201') Grille thematique 201 : Reponse à l'ouverture
											br
											a(target='_blank',href='/202') Grille thematique 202 : développement après réponse
											br
											h6  b)ENCHERES COMPETITIVES
											a(target='_blank',href='/102') Grille thematique 102 : Intervention du n°2
											br
											a(target='_blank',href='/301') Grille thematique 301 :Réponse (n°4) à l'intervention du partenaire (n°2)
											br
											a(target='_blank',href='/401') Grille thematique 401 : Réponses à l'ouverture du partenaire (n°1) après interventions du n°2
											br




block append scripts
	script(src='js/triangles-tuto-min.js')
