extends layout.pug

block append head
	title= "Bridge Symphony - Contact"
	meta(name="description",content="Contactez Bridge Symphony le support didactique pour l enseignement du bridge et l'outil de progression innovant pour bridgeurs de tous niveaux")

block content
	div(id="container" class="backgroundcontainer")
		div(id="output" class="backgroundcontainer")
	div(id="controls" style="display: none;" class="controls")

	.container
		.row
			.col-md-8.col-md-offset-2
				<div id="annexes" class="divTable" style="background: white;float:;border:solid 1px;border-bottom:0;margin:30px 30px; padding: /*2px*/;width:98%;min-height:;">
					<TABLE border="" cellspacing="0" cellpadding="5">
						<TR border="0" bgcolor="">
							<TH border="0" colspan="2">Tableau
							<TH border="0" colspan="2">Type d'Enchères
							<TH border="0" colspan="3">Liens
						<TR bgcolor="">
							<TH>N°
							<TH>Thématique
							<TH>Enchères à deux
							<TH>Enchères Compétitives
							<TH>Grilles Thématiques(a)
							<TH>Grilles Exemples(b)
							<TH>Grilles Vierges
						<TR>
							<TD>100-1
							<TD>L'ouverture
							<TD><img class="" src="/img/croix.jpg" width="20" height="20" alt="A g instant camera" />
							<TD>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/centuna">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/centunb">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/centun">Voir</a></button>
						<TR>
							<TD>100-2
							<TD>Reponse à l'ouverture(Intervention du n°2)
							<TD>
							<TD><img class="" src="http://bridge-symphony/img/croix.jpg" width="20" height="20" alt="A g instant camera" />
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/centdea">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/centdeb">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/centde">Voir</a></button>
						<TR>
							<TD>200-1
							<TD>Reponse à l'ouverture
							<TD><img class="" src="http://bridge-symphony/img/croix.jpg" width="20" height="20" alt="A g instant camera" />
							<TD>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/decentuna">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/decentunb">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/decentun">Voir</a></button>
						<TR>
							<TD>200-2
							<TD>Développement après réponse
							<TD><img class="" src="http://bridge-symphony/img/croix.jpg" width="20" height="20" alt="A g instant camera" />
							<TD>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/decentdea">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/decentdeb">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/decentde">Voir</a></button>
						<TR>
							<TD>300
							<TD>Réponse (n°4) à l'intervention du partenaire (n°2)
							<TD>
							<TD><img class="" src="http://bridge-symphony/img/croix.jpg" width="20" height="20" alt="A g instant camera" />
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/troiscentuna">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/troiscentunb">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/troiscentun">Voir</a></button>
						<TR>
							<TD>400
							<TD>Réponses à l'ouverture du partenaire (n°1) après interventions du n°2
							<TD>
							<TD><img class="" src="http://bridge-symphony/img/croix.jpg" width="20" height="20" alt="A g instant camera" />
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/quatrecentuna">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/quatrecentunb">Voir</a></button>
							<TD><button type="button" class="btn btn-info"><a class="text-white" target="_blank" href="/bridgesymphony/notice/quatrecentun">Voir</a></button>
					</TABLE>
				</div>
			

block append scripts
	script(src='js/triangles-contact-min.js')
