extends layout.pug

block append head
	title= "Bridge Symphony - Tuto"
	meta(name="description" content="Contactez Bridge Symphony le support didactique pour l enseignement du bridge et l'outil de progression innovant pour bridgeurs de tous niveaux")


	block append style
		<link rel="stylesheet" href="css/bridgeskt.css" media="all">




block content
	mixin table-title(name,numbr)
		div(class="entete")
			span(class="log") <img src="images/logo.png"/>
			span(class="ttle")= name
			span(class="numb")= numbr

	div(id="container" class="backgroundcontainer")
		div(id="output" class="backgroundcontainer")
	div(id="controls" style="display: none;" class="controls")

	.container
			.col-md-12
				div
					.logo-tete
						h3 BS TUTO
					.maisckoi C'est bien joli mais comment peut-on s'en servir... ? Petit guide de l'utilisateur
					#intro.intro
						p
							| Les multiples usages et déclinaisons que propose BS aux enseignants, joueurs de tout niveau ou débutants ne sauraient se décrire dans un « mode d'emploi » précis ou exhaustif.
						p
							| Pour le partisan d'une pédagogie active que je suis il s’avère cependant souhaitable de vous proposer ici des pistes d'investigation et des exemples de présentation
							| d'une grande adaptabilité.
						div.important
							| BS n'est pas une méthode (rappel), mais un moyen de conduire celle qui vous sied.
						h3 Présentation et Exploitation
						h4 Présentation
						p
							| Je vous présente ici d'une façon plus concrète l'usage pédagogique que je peux faire
							| de Bridge Symphony dans les ateliers d'initiation que j'anime ou dans le travail de mise
							| au point toujours nécessaire entre partenaires (...ou à titre personnel).
						p
							| Donner vie à ce support interactif s'est réalisé par la mise en forme de grilles de travail et d'exercices
							| (voir c)
						p
							| Les version vierges ou thématiques sont disponibles en mode éditables en ligne(version Editable) ou télèchargeables au format PDF.

						h4 Avant les grilles: "Prise en main" pour débutants

						p
							| Une fois la règle du jeu précisée -et ce n'est déjà pas simple -se posent bien des problèmes ;
						p
							| --> Estimation des mains : points H, HL ; distribution ( régulière, bicolore, unicolore ) sans évoquer
							| bien sûr la position ou la vulnérabilité.
						p  --> Déroulement des enchères : hiérarchie des couleurs, niveau de manche ...
						p  Nul besoin de nos grilles jusque là.
						p
							| Néanmoins le choix judicieux de quelques mains BS se révèle efficace et pratique pour illustrer nos dires .
						.important
							| Rappel qui vaut aussi pour la suite : la carte "typologie" permet de selectionner selon vos préférences ces "mains - exemples"
						p
							| Enfin, la prise en mains des cartes BS à ce stade par ce public néophyte a suscité de façon unanime un attrait ludique et une curiosité
							| qui se sont averés très dynamiques ( générateurs de questions ).
						h4 Avec les grilles
						p
							| Vous sont présentées ci-après et pour exemples six grilles partiellement illustrées qui mettent au travail les six thématiques ici déclinées .
						p
							| --> 101 / 201 / 202 : enchères " à deux " (dans le silence adverse) .
						p
							| --> 102 / 301 / 401 : enchères compétitives .
						p
							|Pour chacune d'elles vous disposez de deux modes d'édition :
						p
							| --> En format PDF : il offre plusieurs options imprimables ( thématique, illustrée, modèle vièrge ... ) .
						p
							| --> version Editable : version éditable en ligne .
						p
							| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cliquer sur un selecteur (une case...) ouvre le bloc de caractère adéquat pour votre propre édition .
						h4 Remarque :
						p Seul le modèle 200 préfère une impression format portrait.
						br
						.important
							| Les grilles illustrées se basent sur le SEF commenté et argumenté de Messieurs Bessis - Quantin - Cronier édition Le Bridgeur 2016/2017 T3 à paraître.
						br

				div.center
					<embed src="/pdf/101_4.pdf" width="900" height="690" type='application/pdf'>
				div.center
					.fter.text-center
						div.pad
							a.btn.btn.btn-primary(target="_blank" href="/pdf/101.pdf" role="button") telecharger le PDF
							a.btn.btn.btn-primary(target="_blank" href="/101" role="button") version Editable
				div.center
					<embed src="/pdf/102_4.pdf" width="900" height="690" type='application/pdf'>
				div.center
					.fter.text-center
						div.pad
							a.btn.btn.btn-primary(target="_blank" href="/pdf/102.pdf" role="button") telecharger le PDF
							a.btn.btn.btn-primary(target="_blank" href="/102" role="button") version Editable
				div.center
					<embed src="/pdf/201_3.pdf" width="900" height="1200" type='application/pdf'>
				div.center
					.fter.text-center
						div.pad
							a.btn.btn.btn-primary(target="_blank" href="/pdf/201.pdf" role="button") telecharger le PDF
							a.btn.btn.btn-primary(target="_blank" href="/201" role="button") version Editable
				div.center
					<embed src="/pdf/202_4.pdf" width="900" height="1200" type='application/pdf'>
				div.center
					.fter.text-center
						div.pad
							a.btn.btn.btn-primary(target="_blank" href="/pdf/202.pdf" role="button") telecharger le PDF
							a.btn.btn.btn-primary(target="_blank" href="/202" role="button") version Editable
				div.center
					<embed src="/pdf/301_4.pdf" width="900" height="690" type='application/pdf'>
				div.center
					.fter.text-center
						div.pad
							a.btn.btn.btn-primary(target="_blank" href="/pdf/301.pdf" role="button") telecharger le PDF
							a.btn.btn.btn-primary(target="_blank" href="/301" role="button") version Editable
				div.center
					<embed src="/pdf/401_4.pdf" width="900" height="690" type='application/pdf'>
				div.center
					.fter.text-center
						div.pad
							a.btn.btn.btn-primary(target="_blank" href="/pdf/401.pdf" role="button") telecharger le PDF
							a.btn.btn.btn-primary(target="_blank" href="/401" role="button") version Editable





block append scripts
	script(src='js/triangles-tuto-min.js')
