.noscreen { display : none;}
.hide{display: none;}

@page { size: auto;  margin: 0mm; }

@media print {
	.noscreen { display: inline; }
	.noprint { display: none; }
	.hide{display: none}

	header, nav, footer {
		display: none;
	}
	body,.container,.col-md-12,table{width:100%}
	td{width:auto;font-family: monospace; font: bold}
}
