.noscreen { display : none;}
.hide{display: none;}
@media print {
	.noscreen { display: inline; }
	.noprint { display: none; }
	.hide{display: none}

	header, nav, footer {
		display: none;
	}
	table{width:100%}
	td{font-family: monospace; font: bold}
}
