body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.backgroundcontainer{
  position: fixed;
  height: 100vh;
  width: 100%;
  top:0px;
  left:0px;
  z-index: 0;
}

.main{
  z-index: 1;
}

.controls {
  font-smoothing: subpixel-antialiased;
  position: absolute;
  left: 0px;
  bottom: 40px;
}

div.content {margin-left: 20px;}

.margin{
	margin-left:  30px;
}

.center{
  text-align: center;
}

.padding-top{
  padding-top: 2em;
}
.padding-top-max{
  padding-top: 4em;
}
.plan{
  font-size: 2em;
  text-align: justify;
  text-justify: inter-word;
}

.slack{
  display: flex;
  padding-top: 18px;
}
