select {
    border: 1 px solid black;
    background-color: transparent;
}

td{
  text-align: center
}

th{
  border: 3px solid black;
  text-align: center;
}
table{
  background-color: white;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
  width:100%
}


.redText{ color: red !important;}

.entete{
	display: inline-block;
	width:100%;
	margin:3px
}

.logo{
	display:inline-block;
	float:left;
	width:20%;
	vertical-align: middle;
}
.logo img{width:50px;}

.title{
	font-size:24px;
	vertical-align: middle;
}

.number{
	display:inline-block;
	float:right;
	width:20%;
	font-size:24px;
	vertical-align: middle;
}

.hexagon{
	background-image: url(../images/hexa.png);
	background-color: red;
	font-size:12px;
}
